<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisdemo.mapper.UserLoginMapper">
    <resultMap id="user" type="com.mybatisdemo.mapper.UserLoginMapper">
        <id column="id" jdbcType="int" property="id"/>
        <result column="user_name" jdbcType="string" property="userName"/>
        <result column="password" jdbcType="string" property="password"/>
    </resultMap>

    <select id="queryAll" resultType="user">
        select * from t_user limit 0,10
    </select>

    <insert id="add" parameterType="com.mybatisdemo.model.UserLogin">
        insert into t_user (user_name,password) values (#{userName},#{password})
    </insert>

    <select id="queryByName" resultType="com.mybatisdemo.model.UserLogin">
        select * from t_user where user_name = #{userName}
    </select>
</mapper>
